﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/assets/admin/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="solution">
    <h1>Hello, world!</h1>
    <div ui-view></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/assets/admin/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/admin/libs/angular/angular.js"></script>
    <script src="~/assets/admin/libs/angular-animate/angular-animate.js"></script>
    <script src="~/assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/app/shared/modules/solution.common.js"></script>
    <script src="~/app/components/products/product.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/products/productEditController.js"></script>
    <script src="~/app/components/home/homeControlller.js"></script>
</body>
</html>